APP_PORT=3000
TIKTOK_ENV=sandbox
PROD_TIKTOK_CLIENT_KEY=
PROD_TIKTOK_CLIENT_SECRET=
SANDBOX_TIKTOK_CLIENT_KEY=
SANDBOX_TIKTOK_CLIENT_SECRET=
TIKTOK_REDIRECT_URI=https://tiktok-agent-calis-legal.chillpickle.org/api/tiktok/callback
SESSION_SECRET=generate-a-random-value-with-at-least-32-characters
